body {
    margin:0;
    overflow-x: hidden;
    color: rgb(207, 207, 158);
    letter-spacing: 1px;
    background-color:rgb(14, 4, 27);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-color: rgba(80, 80, 74, 0.616);
    position:fixed;
    width: 100%;
}

header h1 a {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(218, 140, 24);
    font-size: 30px;
}

#nav {
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content:space-between;
    padding-left: 2em;
    margin-top:0;
}

nav ul {
    display:flex;
    flex-direction: row;
    align-self: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav ul li a {
    display: flex;
    font-size:.8em;
    font-weight: bolder;
    color: rgb(35, 226, 35);
    width: 100%;
    margin-right: 30px;
}

#banner {
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

h2 { 
    display: flex;
    justify-content: start;
    text-align:left;
    font-size: 5.5em;
    margin-right:1%;
    padding-top: 75px;
}

#banner p {
    font-size: 1.5em;
    margin:14% 9% 0 9%;
    text-align: center;
}

.killer-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1rem;
    grid-template-areas: "a b c"
                         "d e f"
                         "g h i" ;
    width: 100%;
    height:150vh;    
    background-position: center;

}

#killers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ghostface {
    background-size:cover;

    background-image: url("images/gfknife.jpeg");
    grid-area: a;
    justify-content:flex-end;

}

#pinhead {
    background-image: url("images/pinhead.jpg");
    background-size: cover;
    grid-area: b;
    justify-content:flex-end;
    text-align:right;
}

#samara {
    background-image: url("images/samara.jpg");
    background-size: cover;
    grid-area: c;
    justify-content: flex-end;
    text-align: right;

}

#norman-bates {
    background-image: url("images/normanbates.jpeg");
    background-size: cover;
    grid-area: d;
    justify-content: flex-end;
    text-align: right;
}

#pennywise {
    background-image: url("images/pennywise.jpeg");
    background-size: cover;
    grid-area: e;
    justify-content: flex-end;
    text-align: right;
}

#chucky {
    background-image: url("images/chucky.jpg");
    background-size: cover;
    grid-area: f;
    justify-content: flex-end;
    text-align: right;
}

#michael-myers {
    background-image: url("images/michaelmyers.jpeg");
    background-size: cover;
    grid-area: g;
    justify-content: flex-end;
    text-align: right;
}

#leatherface {
    background-image: url("images/leatherface.jpg");
    background-size: cover;
    grid-area: h;
    justify-content: flex-end;
    text-align: right;
}

#freddy-kreuger {
    background-image: url("images/freddykreuger.jpeg");
    background-size: cover;
    grid-area: i;
    justify-content: flex-end;
    text-align: right;
}


.card {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 60px; */

    align-items: center;
    display: flex;
    justify-content: center;
}

#gallery p {
    font-size: 1.5em;
    /* margin:14% 9% 0 9%; */
    text-align: center;
    flex-direction: column;

}

#houses img {
    width:50%;
}

form {
    display: flex;
}








section {
    margin-left: 5%;
    margin-right: 2%;
}


img {
    border: 13px black double;
}

ul {
    list-style: none;
    
}

a {
    text-decoration: none;
}